{% load static %}
{% load assets %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>{% spaceless %}{% block pagetitle %}{% endblock pagetitle %}{% endspaceless %} -- 看小说么</title>
	<meta name="keywords" content="{% spaceless %}{% block keymeta %}看小说么,玄幻小说,侦探小说,网游小说,武侠小说,都市小说,历史小说,言情小说,网络小说,网络文学{% endblock keymeta %}{% endspaceless %}">
	<meta name="description" content="{% spaceless %}{% block keydesc %}看小说,么?最简洁的小说阅读网站,提供都市小说.玄幻小说.仙侠小说.历史小说.网游小说.免费小说等在线阅读.{% endblock keydesc %}{% endspaceless %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="apple-touch-icon" href="{% static 'img/iapp.ico.jpg' %}">
	<link rel="shortcut icon" href="{% static 'img/iapp.ico.jpg' %}" type="image/x-icon">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="看小说么">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	{% assets "css_all" %}
		<link href="{{ ASSET_URL }}" rel="stylesheet">
	{% endassets %}
	{% if BAIDUTONGJI_ID %}
		{% include "baidutongji.html" %}
	{% endif %}
	{% if GA_ID %}
		{% include "googleanalytics.html" %}
	{% endif %}
	{% block headercss %}
	{% endblock headercss %}
	{% block headerjs %}
	<script>var DATA_DIC = DATA_DIC || {}</script>
	{% endblock headerjs %}
	
	<style> 
		.divcss5-right{width:300px; height:250px;border:none ;position:absolute; right:0px; top:130px; } 
	</style>
</head>
<body class="inv">
{% spaceless %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- top_banner -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4513689301106261"
     data-ad-slot="8299662631"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
				</button>
				<a class="navbar-brand" href="/">看小说,么?</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav main">
					<li class="dropdown" id="nav-category">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">分类阅读{%if category%}:{{category}}{%endif%}<span class="caret"></span></a>
						<span class="hidden-xs dropdown-arrow dropdown-arrow-inverse"></span>
						<ul class="dropdown-menu dropdown-inverse" role="menu">
							{% for ca in categorys %}
								{% if ca.name %}<li id="nav{{ca.key}}"><a href="{% url 'category' ca.key %}">{{ca.name}}</a></li>{% endif %}
							{% endfor %}
						</ul>
					</li>
					<li id="navp">
						<a href="{% url 'bookrank' %}">排行榜</a>
					</li>
					<li id="navnews">
						<a href="{% url 'booknews' %}">最近更新</a>
					</li>
					{% if user.is_superuser %}
					<li>
						<a href="{% url 'bbg:home' %}">管理后台</a>
					</li>
					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">个人中心{% if bookmark_update %} <span class="readpoint">&nbsp;</span>{% endif %}<span class="caret"></span></a>
						<span class="hidden-xs dropdown-arrow dropdown-arrow-inverse"></span>
						<ul class="dropdown-menu dropdown-inverse" role="menu">
							<li><a href="javascript:;">{{user.username}}</a></li>
							<li><a href="{% url 'changepwd' %}">修改密码</a></li>
							<li id="navbma"><a href="{% url 'bookmark' %}">我的书架{% if bookmark_update %} <span class="badge badge-danger">{{ bookmark_update }}</span>{% endif %}</a></li>
							<li class="divider"></li>
							<li><a href="{% url 'logout' %}">登出</a></li>
						</ul>
					</li>
					{% else %}
					<li><a href="{% url 'login' %}">登录</a></li>
					<li><a href="{% url 'signup' %}">注册</a></li>
					{% endif %}
				</ul>
				<form class="navbar-form navbar-right" action="/" method="get" role="search">
					<div class="form-group">
						<div class="input-group">
							<input name="s" class="form-control" id="navbarInput-01" type="search" placeholder="搜索书籍标题">
							<span class="input-group-btn">
								<button type="submit" class="btn"><span class="fui-search"></span></button>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</nav>
{% endspaceless %}
	<div class="container">
	{% block content %}{% endblock content %}
		<div class="col-md-12">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading text-center">友情链接</div>
					<div class="panel-body text-center">
					</div>
				</div>
			</div>
		</div>
	</div>
	{% block footerblock %}{% endblock footerblock %}
	{% assets "js_all" %}
		<script src="{{ ASSET_URL }}" rel="stylesheet"></script>
	{% endassets %}
	{% block footerjs %}
	{% endblock footerjs %}

<script>
if (Math.random() * 100 < 30) {
document.write('<div class="divcss5-right"><iframe src="http://d.admx.baixing.com/widget/w/hb-jRaSS4.html" width="300px" height="250px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:none;margin:0px;padding:0px;width:300px; height:250px;scrolling:none;" ></iframe></div>');
}
</script>
<script src="http://cm2.adxiny.com/stat.php?jid=276&only=0"></script>

</body>
</html>
